<%- include('partials/header') %>

    <main>

        <div class="container-projects">
            <b class="title-name">Projetos</b>
            <div class="header-projects">
                <input type="text" id="searchInput" placeholder="Digite para pesquisar..." class="searchInput">
                <a class="cadastro-projeto-button" href="/cadastro-projeto">Cadastrar Projeto</a>
            </div>

            <% if (projetos.length == 0) { %>
                <div class="projetos-vazio">
                    Não há projetos ainda
                </div>
            <% } %>
            <% projetos.forEach(projeto=> { %>
                <div class="project-card" data-title="<%= projeto.titulo.toLowerCase() %>">
                    <div class="project-image">
                        <img src="<%= projeto.imagem %>" alt="<%= projeto.titulo %>" width="200px" height="300px">
                    </div>
                    <div class="project-description">
                        <h2>
                            <%= projeto.titulo %> | status: <b class="<%= projeto.estado === 'finalizado' ? 'status-finalizado' : 'status-em-andamento' %>"><%= projeto.estado %></b>
                        </h2>

                        <p><%= projeto.descricao %></p>

                        <div class="proj-button">
                            <a onclick="deletarProjeto(<%= projeto.id %>)" class="delete-button-projetos">Deletar</a>
                            <a href="<%= projeto.url %>" target="_blank" class="acessar-projetos">Acessar Projeto</a>
                        </div>
                    </div>
                </div>
            <% }); %>

        </div>
    </main>

    <%- include('partials/footer') %>